<div>
  <a href="http://hexxen1733-regelwiki.de/">
    <img src="{{hx-basepath}}/img/hexxenlogo.png" style="display: block; margin: 0 auto; border: none; height: 130px;" />
  </a>
  <!-- TODO: Deutsch/Englisch -->
  <p>
    The game system <strong>HeXXen 1733&trade;</strong> is an adaption of the german
    <a href="https://ulisses-spiele.de/spielsysteme/hex1733/">Hexxen 1733</a>
    RPG. It provides character and item sheets as well as a dice tool. 
  </p>
  <p>
    <a href="{{hx-git-releases}}">Release Notes</a>
  </p>
  <p>
    If you encounter a bug, feel free to report it <a href="{{hx-git-issues}}">here</a>.
  </p>
  <p class="seperator"></p>
  <h2>Legal notice:</h2>
  <!-- TODO: englischen Text suchen -->
  <p>
    Dieses Produkt wurde unter Lizenz erstellt. HeXXen 1733&trade; und sein Logo sind eingetragene Marken von Ulisses Spiele Deutschland,
    den U.S.A. und anderen Ländern. Ulisses Spiele und sein Logo sind eingetragene Marken der Ulisses Medien und Spiele Distribution GmbH.
  </p>
  <p>
    Dieses Werk enthält Material, das durch Ulisses Spiele und/oder andere Autoren urheberrechtlich geschützt ist. Solches Material wird mit
    Erlaubnis im Rahmen der Vereinbarung über Gemeinschaftsinhalte für HeXXen-1733-Scriptorium verwendet.
  </p>
  <p>
    Alle anderen Originalmaterialien in diesem Werk sind Copyright [2020] von Martin Brunninger und werden im Rahmen der Vereinbarung über
    <a href="https://ulissesspiele.zendesk.com/hc/de/articles/360017969212-Inhaltsrichtlinien-f%C3%BCr-HeXXen-1733-Scriptorium">Gemeinschaftsinhalte für HeXXen-1733-Scriptorium</a>
    veröffentlicht.
  </p>
  <p class="seperator"></p>
  <h2>Limitation of liability for external links</h2>
  <p>
    The game system contains links to the websites of third parties („external links“). As the content of these websites is not under our control,
    we cannot assume any liability for such external content. In all cases, the provider of information of the linked websites is liable for the
    content and accuracy of the information provided. At the point in time when the links were placed, no infringements of the law were
    recognisable to us. As soon as an infringement of the law becomes known to us, we will immediately remove the link in question.
  </p>
</div>