﻿.hexxen.jaeger {
  min-width: 600px;
  min-height: 500px;
}

/************************/
/* Sheet header section */
/************************/
.hexxen.jaeger .sheet-header {
  grid-template-columns: 115px 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 4px 6px;
  grid-template-areas:
    'img name'
    'img combat'
    'img stats'
    'res res';
  white-space: nowrap;
}
.hexxen.jaeger .sheet-header .profile-img {
  grid-area: img;
  height: 115px; /* override system preset */
  border-color: var(--hexxen-input-bordercolor);
}
.hexxen.jaeger .sheet-header .actorname {
  grid-area: name;
}
.hexxen.jaeger .sheet-header .combat {
  grid-area: combat;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  justify-content: space-evenly;
  border: var(--hexxen-table-border);
}
.hexxen.jaeger .sheet-header .combat .combat-value {
  width: 150px;
  line-height: 25px;
  padding: 0px 5px;
  margin: 2px 0px;
}
.hexxen.jaeger .sheet-header .combat .combat-value label {
  flex: 0.5;
}
.hexxen.jaeger .sheet-header .combat .combat-value.ap .label.max {
  flex: 0;
}
.hexxen.jaeger .sheet-header .stats {
  grid-area: stats;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  justify-content: space-evenly;
  border: var(--hexxen-table-border);
  font-size: 1.4em;
}
.hexxen.jaeger .sheet-header .stats .stats-value {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 45px;
  margin: auto 10px;
}
.hexxen.jaeger .sheet-header .stats .label,
.hexxen.jaeger .sheet-header .stats .value,
.hexxen.jaeger .sheet-header .stats .control {
  height: 28px;
  line-height: 28px;
}
.hexxen.jaeger .sheet-header .resources {
  grid-area: res;
  display:grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(6, 1fr);
  border: var(--hexxen-table-border);
}
.hexxen.jaeger .sheet-header .resources .resource {
  display: grid;
  grid-template-areas:
    'res-label res-label'
    'res-value res-max';
  padding: 2px 5px;
}
.hexxen.jaeger .sheet-header .resources .resource .label {
  grid-area: res-label;
  text-align: initial;
  margin-inline-start: 10px;
}
.hexxen.jaeger .sheet-header .resources .resource .inc-btn {
  grid-area: res-value;
}
.hexxen.jaeger .sheet-header .resources .resource .label.max {
  grid-area: res-max;
  margin: auto 0;
}
/** header section highlighting */
.hexxen.jaeger .sheet-header .combat .combat-value:hover {
  background-color: var(--hexxen-highlight-hover-color) !important;
}
.hexxen.jaeger .sheet-header .stats .stats-value:hover {
  background-color: var(--hexxen-highlight-hover-color) !important;
}
.hexxen.jaeger .sheet-header .resources .resource:nth-child(2n) {
  background-color: var(--hexxen-highlight-even-color);
}
.hexxen.jaeger .sheet-header .resources .resource:nth-child(2n+1) {
  background-color: var(--hexxen-highlight-odd-color);
}
.hexxen.jaeger .sheet-header .resources .resource:hover {
  background-color: var(--hexxen-highlight-hover-color) !important;
}

/******************/
/* Tab biography  */
/******************/
.hexxen.jaeger .biography {
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px 10px !important;
}
.hexxen.jaeger .biography > * {
  grid-column: 1 / span 2;
}
.hexxen.jaeger .biography .table {
  grid-column: auto;
}
.hexxen.jaeger .biography .table .tr .td:nth-child(1) {
  width: 33%;
  min-width: 100px;
}

/******************/
/* Tab states     */
/******************/
.hexxen.jaeger .states {
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px 10px !important;
}
.hexxen.jaeger .states > * {
  grid-column: 1 / span 2;
}
.hexxen.jaeger .states .header-11 {
  grid-area: 1 / 1 / span 1 / span 1;
}
.hexxen.jaeger .states .table-11 {
  grid-area: 2 / 1 / span 1 / span 1;
}
.hexxen.jaeger .states .table-11 .control {
  color: inherit;
}
.hexxen.jaeger .states .table-11 .tr .td.label {
  width: 190px;
}
.hexxen.jaeger .states .header-12 {
  grid-area: 1 / 2 / span 1 / span 1;
}
.hexxen.jaeger .states .table-12 {
  grid-area: 2 / 2 / span 1 / span 1;
}
.hexxen.jaeger .states .table-13 {
  grid-area: 5 / 1 / span 1 / span 2;
}
.hexxen.jaeger .states .table-13 .tr .td.label {
  width: 190px;
}
.hexxen.jaeger .states .table-13 .control {
  color: var(--hexxen-alert-color);
}
.hexxen.jaeger .states .table-13 .tr .td.note {
  width: 50%;
  padding-left: 12px; /* +6px */
}
.hexxen.jaeger .states .res-boxes .control i {
  border: 1px solid var(--hexxen-dark-color);
  border-radius: 4px;
  padding: 2px;
  line-height: 0.65em;
  vertical-align: -0.075em;
}
.hexxen.jaeger .states .res-boxes .control i.fa-inverse {
  color: rgba(255,255,255,0);
}
.hexxen.jaeger .states .res-boxes .control i.fa-inverse:hover {
  color: #fff;
}

/******************/
/* Tab skills     */
/******************/
.hexxen.jaeger .skills .attributes {
  display:grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(6, 1fr);
  border: var(--hexxen-table-border);
}
.hexxen.jaeger .skills .attributes .attribute {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
  padding: 2px 5px;
}
/** highlighting */
.hexxen.jaeger .skills .attributes .attribute:nth-child(even) {
  background-color: var(--hexxen-highlight-even-color);
}
.hexxen.jaeger .skills .attributes .attribute:nth-child(odd) {
  background-color: var(--hexxen-highlight-odd-color);
}
.hexxen.jaeger .skills .attributes .attribute:hover {
  background-color: var(--hexxen-highlight-hover-color) !important;
}

/******************/
/* Tab combat     */
/******************/

/******************/
/* Tab powers     */
/******************/

/******************/
/* Tab items      */
/******************/

/******************/
/* Tab rules      */
/******************/
.hexxen.jaeger .rules {
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px 10px !important;
}
.hexxen.jaeger .rules > * {
  grid-column: 1 / span 2;
}
.hexxen.jaeger .rules .table {
  grid-column: auto;
}

/************************************/
/* !!! TODO: ALT !!! Common section */
/************************************/
.sheet.jaeger .list-header {
  flex: 0;
  margin: 5px 0;
  padding: 5px;
  color: var(--hexxen-header-color);
  background: var(--hexxen-header-bgcolor);
  border: var(--hexxen-header-border);
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}
.sheet.jaeger .list-header > * {
  margin: 0 3px;
}
.sheet.jaeger .list-body {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sheet.jaeger .list-body li:nth-of-type(2n) {
  background: var(--hexxen-highlight-even-color);
}
.sheet.jaeger .list-body li:nth-of-type(2n+1) {
  background: var(--hexxen-highlight-odd-color);
}
/* TODO: Temporär für alte Listen */
.sheet.jaeger .items-list li:hover,
.sheet.jaeger .list-body li:hover {
  background-color: var(--hexxen-highlight-hover-color) !important;
}

.sheet.jaeger .roll {
  cursor: crosshair; /* TODO: curson icon erstellen */
}

.sheet.jaeger .states .list-body li > *,
.sheet.jaeger .powers .list-body li > *,
.sheet.jaeger .items .list-body li > * {
  min-height: 20px;
  line-height: 20px;
  text-align: inherit;
}
.sheet.jaeger .items .top .list-body .label {
  flex: 0.5;
}
.sheet.jaeger .states .zustaende .checkbox {
  flex: 0 0 23px;
}
.sheet.jaeger .states .zustaende .effekt {
  flex: 1.5;
}
.sheet.jaeger .states .zustaende .list-body span {
  border-bottom: var(--hexxen-value-span-border);
}
.sheet.jaeger .states .table.zustaende .effekt,
.sheet.jaeger .states .table.zustaende .abbau,
.sheet.jaeger .states .table.zustaende .hilfe {
  line-height: unset;
  padding: 2px 0;
}

.sheet.jaeger .sheet-body .combat .block-header {
  padding: 4px 3px 3px;
}
.sheet.jaeger .sheet-body .combat .block-header .checkbox {
  height: unset;
  line-height: unset;
  margin-top: -3px;
}
.sheet.jaeger .flexrow .li-label {
  flex: 5;
}
.sheet.jaeger .combat .checkbox {
  flex: 0 0 23px;
}
.sheet.jaeger .combat .li-label {
  flex: 2 2 120px;
}
.sheet.jaeger .flexrow .li-schaden ,
.sheet.jaeger .flexrow .li-ap {
  flex: 0.5 0.5 26px;
}
.sheet.jaeger .flexrow .li-value ,
.sheet.jaeger .flexrow .li-sum {
  flex: 1 1 45px;
}
.sheet.jaeger .flexrow .li-attr {
  flex: 0.5 0.5 50px;
}
.sheet.jaeger .flexrow .li-anmerkung {
  flex: 10 10 100px;
}
.sheet.jaeger .flexrow .li-control {
  flex: 0 0 20px;
}
.sheet.jaeger .list-body li > * {
  margin: 1px 3px;
  min-height: 28px;
  line-height: 28px;
  text-align: center;
}
.sheet.jaeger .list-body .li-label {
  text-align: inherit;
}
.sheet.jaeger .list-body .li-anmerkung {
  text-align: inherit;
  line-height: unset;
}
.sheet.jaeger .list-body .li-text {
  border-bottom: var(--hexxen-value-span-border);
}
.sheet.jaeger .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.sheet.jaeger .items-list .item {
  border-bottom: var(--hexxen-value-span-border);
}
.sheet.jaeger .items-list .item h4 {
  height: 30px;
  line-height: 28px;
}
.sheet.jaeger .items-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
  object-fit: contain;
}
.sheet.jaeger .items-list .item-name {
  margin: 0;
}
.sheet.jaeger .items-list .item-description {
  display: none;
  text-align: justify;
  border-top: 1px solid var(--hexxen-light-color);
}
.sheet.jaeger .items-list .item-description p:first-of-type {
  margin-top: unset;
}
.sheet.jaeger .items-list .item-description p:last-of-type {
  margin-bottom: unset;
}
.sheet.jaeger .items-list .item-controls {
  flex: 0 0 auto;
  line-height: 28px;
}
.sheet.jaeger .items-list .consumable-controls {
  display: none;
  font-size: 0.8em;
  padding: 0 2px;
}
.sheet.jaeger .items-list .item:hover .consumable-controls {
  display: inline;
}
.sheet.jaeger .items-list .item-empty {
  text-decoration: line-through;
}
