.sheet.npc {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.sheet.npc .window-content {
  height: 100%;
  padding: 5px;
  /*overflow-y: hidden;*/
}
.sheet.npc .sheet-header {
  height: 125px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.sheet.npc .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.sheet.npc .sheet-header .header-fields {
  height: 125px;
}
.sheet.npc .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 0 0;
  border-bottom: 0;
}
.sheet.npc .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.sheet.npc .sheet-body {
  overflow: hidden;
}
.sheet.npc.sheet.actor {
  min-width: 570px;
  min-height: 420px;
}
.sheet.npc .unnatural{
  margin: 10px 20px 10px 20px;
}
.sheet.npc .head {
  margin: 10px 20px 10px 20px;
}
.sheet.npc .head-content {
  margin: 0 20px 0 30px;
}
.sheet.npc h1 span {
  font-size: initial;
}
.sheet.npc .grid-item1 {
  grid-area: header;
}
.sheet.npc .grid-item2 {
  grid-area: main;
  width: auto;
  margin: 0 10px 0 10px;
  float: left;
  text-align: left;
}
.sheet.npc .grid-item2 input {
  width: 30px;
  height: 28px;
  text-align: center;
}
.sheet.npc .item2{
   margin-right: 20px;
 }
.sheet.npc .item2 .formula {
  width: 10ch;  
}
.sheet.npc .grid-item3 {
  grid-area: footer;
  margin: 0 10px 0 10px;
}
.sheet.npc .item3{
  margin-right: 5px;
}
.sheet.npc .item3 input{
  width: 30px;
  text-align: center;
}
.sheet.npc .grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  padding: 0px;
}
.sheet.npc .editor{
  min-height: 35px;
}
.sheet.npc .tox-tinymce{
  min-height: 200px;
}
.sheet.npc .hex-chat {
  display: inline-block;
  max-width: 80%;
  white-space: initial;
  word-break: initial;
  vertical-align: top;
}
